/* 
公共CSS文件
*/



@media (max-width:767px) {
  .mainContainer{
      width: 100%;
  }

}
@media (min-width:768px) and (max-width:991px){
    .mainContainer{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
@media (min-width:992px) {
    .mainContainer{
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
}
