@media (max-height: 767px) {
    .banner{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        white-space: nowrap;
        flex-direction: row;
        margin-top: 15%;
    }
}

@media (min-height: 768px) and (max-height: 991px){
    .banner{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        white-space: nowrap;
        flex-direction: row;
        margin-top: 20%;
    }

}

@media (min-height: 992px) {
    .banner{
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        white-space: nowrap;
        flex-direction: row;
        margin-top: 25%;
    }
}