.uploadViewBox {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


@media (max-width:767px){
    .uploadViewBox{
        width: 100%;
    }
}

@media (min-width:768px) and (max-width:991px){
    .uploadViewBox{
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media (min-width:992px){
    .uploadViewBox{
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
}

.infoBox {
    margin-top: 100px;
    width: 100%;
}

.fileInfoBox {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.fileInfoCol{
    display: flex;
    width: 90%;
    flex-direction: column;
    flex-wrap: nowrap;
    /*overflow: hidden;*/
}





.BtnGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
}

.selectBtnGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;
    width: 90%;
}

.handleBtn {
    padding: 10px 15px;
    border: solid 1px #E0E0E0FF;
    background-color: #E0E0E0FF;
    opacity: 0.7;
    border-radius: 2px;
    margin: 5px;
}

.selectBtn{
    padding: 10px 15px;
    border: solid 1px #E0E0E0FF;
    background-color: #E0E0E0FF;
    opacity: 0.7;
    border-radius: 2px;
    margin: 5px;

}


.fileSelect:active,.handleBtn:active,.selectBtn:active{
    opacity: 1.0;
    background-color: #9e9e9eFF;
}